.confirmation-container {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 12px 8px;
}

  .confirmation-container .question-container {
      display: flex;
      width: 100%;
      justify-content: end;
      align-items: center;
      padding-left: 15px;
  }

      .confirmation-container .question-container .question {
          font-size: 13px;
      }

      .confirmation-container .question-container .actions-row {
          display: flex;
          justify-content: end;
          margin-top: 6px;
      }

          .confirmation-container .question-container .actions-row button.mat-mdc-button {
              width: 60px;
              height: 25px !important;
          }

.custom-icon {
  font-size: 30px;
  background: var(--light-grey-color);
  color: var(--white-color);
  padding: 10px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.26);
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  border: 3px solid var(--grey-alt-color);
}

  .custom-icon .hover {
      background: rgba(0,0,0,0.6);
  }

  .custom-icon.amber-color {
      border-color: var(--amber-color);
  }

  .custom-icon.red-color {
      border-color: var(--red-color);
  }

  .custom-icon.dark-green-color {
      border-color: var(--dark-green-color);
  }

  .custom-icon.medium-blue-color {
      border-color: var(--medium-blue-color);
  }
